.home {
  min-height: 100vh;
  overflow-x: hidden;

  p {
    font-size: 0.9rem;
  }

  .homeHero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100vh;
    background: linear-gradient(
      180deg,
      #e0def7 0%,
      rgba(224, 222, 247, 0) 100%
    );

    .tabs {
      position: absolute;
      width: 100%;
      bottom: 45%;
      z-index: 9;
    }

    article {
      padding: 0 1.5em;
    }

    h1 {
      color: var(--black);
      padding: 0;
      font-size: 2rem;
      font-weight: 700;
    }

    .noSpam {
      h4 {
        color: var(--mainColor);
      }
    }
  }
  .BG {
    padding: 6em 0;
    background: linear-gradient(180deg, #fff 0%, #f0effb 100%);

    .findSection {
      margin: 9em auto;

      .homeBg {
        h3 {
          font-size: 1.3rem;
        }

        height: 500px;
        border-radius: 8px;
        padding: 1em;
        border: 1.5px solid var(--Line);
        background: var(--Line) url('../public/assets/browsePropBG.svg') bottom
          right no-repeat;
        background-size: cover;
      }
    }

    .makeItEasy {
      padding: 5em 0;
      background: var(--mainDark);

      h3 {
        font-size: 2.5rem;
      }

      h4,
      h3,
      p {
        color: var(--white);
      }

      em {
        color: var(--mainColor);
      }
    }

    .newsLetter {
      .landLord {
        // background: #100a55;
        padding: 2em 1.5em;
        color: var(--white);

        h2 {
          font-size: 2rem;
          font-weight: 700;
        }

        h4 {
          font-size: 1.5em;
          color: var(--mainColor);
          margin-bottom: 1em;
        }

        strong {
          color: var(--mainColor);
        }

        input {
          border: none;
        }

        .newsletterForm {
          background: var(--white);
          padding: 0.5em;
          border-radius: 9px;
        }
      }
    }

    .contents {
      // background: var(--white);

      h5 {
        font-weight: 600;
      }

      width: 90% !important;
      margin: 0 auto;

      p {
        color: var(--black);
        margin: 0.5em 0;
      }

      border-radius: 10px;
      padding: 0.9em 2em;
    }

    .bg1 {
      background: var(--Grey2);

      h5,
      p {
        color: #fff;
      }
    }

    .bg2 {
      background: var(--white);
    }

    .bg3 {
      h5,
      p {
        color: #fff;
      }
      background: var(--mainColor);
    }

    .perce {
      h4 {
        font-size: 2rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .homeHero {
      // h1 {
      //   font-size: 4rem;
      // }

      .tabs {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 50%;
        z-index: 9;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .BG {
      .findSection {
        .homeBg {
          h3 {
            font-size: 2rem;
          }
        }
      }
    }

    .homeHero {
      h1 {
        font-size: 4rem;
      }

      .tabs {
        position: absolute;
        width: 60%;
        left: 5%;
        bottom: 25%;
        z-index: 9;
      }
    }
  }
}
