.medicWork {
  border-radius: 4px;
  background: #f5f8f8;
  background-size: cover;
  // padding: 2em 0;
  height: 375px;
  position: relative;
  overflow: hidden;

  .medicApp {
    // position: relative;
    z-index: 2;
    margin: 7em 0 2em 0;
    padding: 0 1em;
  }

  .appImage {
    position: absolute;
    width: 105%;
    top: 10px;
    right: -80px;
  }
}
.cryptoWork {
  border-radius: 4px;
  background: #f5f8f8;
  background-size: cover;
  // padding: 2em 0;
  height: 375px;
  position: relative;
  overflow: hidden;

  .medicApp {
    position: relative;
    z-index: 2;
    margin: 7em 0 2em 0;
    padding: 0 1em;
  }

  .appImage {
    position: absolute;
    width: 110%;
    top: 0;
    right: -50px;
  }
}

.foodDelivery {
  border-radius: 4px;
  background: #ffe5cb;
  background-size: cover;
  // padding: 2em 0;
  height: 375px;
  position: relative;
  overflow: hidden;

  .medicApp {
    position: relative;
    z-index: 2;
    margin: 7em 0 2em 0;
    padding: 0 1em;
  }

  .appImage {
    position: absolute;
    width: 110%;
    top: 0;
    right: -50px;
  }
}

.emdoWork {
  border-radius: 4px;
  background: #dec9ff;
  background-size: cover;
  // padding: 2em 0;
  height: 375px;
  position: relative;
  overflow: hidden;

  .medicApp {
    position: relative;
    z-index: 2;
    margin: 7em 0 2em 0;
    padding: 0 1em;
  }

  .appImage {
    position: absolute;
    width: 80%;
    top: -40px;
    right: -20px;
  }
}

@media screen and (min-width: 768px) {
  .emdoWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 1em;
    }

    .appImage {
      position: absolute;
      width: 80%;
      top: 0;
      right: -50px;
    }
  }

  .medicWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 1em;
    }

    .appImage {
      position: absolute;
      width: 100%;
      top: 0;
      right: -100px;
    }
  }

  .cryptoWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 1em;
    }

    .appImage {
      position: absolute;
      width: 100%;
      top: 0;
      right: -100px;
    }
  }

  .foodDelivery {
    height: 465px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 1em;
    }

    .appImage {
      position: absolute;
      width: 100%;
      // top: 0;
      right: -100px;
    }
  }

  .sprayApp {
    .spraayContent {
      background: url('../../public//assets/Cover.webp') top right no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 900px) {
  .foodDelivery {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 3em;
    }

    .appImage {
      position: absolute;
      width: 80%;
      // top: 0;
      // right: -100px;
    }
  }

  .emdoWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 1em;
    }

    .appImage {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
    }
  }

  .medicWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 3em;
    }

    .appImage {
      position: absolute;
      width: 70%;
      top: 0;
      right: 0;
    }
  }

  .cryptoWork {
    height: 575px;

    .medicApp {
      position: relative;
      z-index: 2;
      margin: 7em 0 2em 0;
      padding: 0 3em;
    }

    .appImage {
      position: absolute;
      width: 70%;
      top: 0;
      right: 0;
    }
  }

  .sprayApp {
    .spraayContent {
      background: url('../../public//assets/Cover.webp') top right no-repeat;
      background-size: cover;
    }
  }
}
