.tabsContainer {
  .tabTitleContainer {
    border-radius: 8px;
    border: 1.5px solid #e0def7;
    background: #f0effb;
    padding: 0.3em 0.5em;

    .tabActive {
      padding: 0.6em 0.8em;
      border-radius: 8px;
      border: 2px solid #e0def7;
      background: var(--white);

      h4 {
        color: var(--mainColor);
        font-weight: 700;
      }

      svg [stroke] {
        stroke: var(--mainColor);
      }
    }

    .tabNotActive {
      padding: 0.6em 0.8em;
      h4 {
        color: var(--Grey3);
      }
      svg [stroke] {
        stroke: var(--Grey3);
      }
    }
  }
}
